<h1>verwijder iets specieks</h1>

<form method="POST" action="/deleteForm">
    <label for="delname">Name:</label>
    <input type="text" id="delname" name="delname" />

    <button type="submit">verwijder één brand</button>
</form>

