<h1>search weed</h1>

<form method="POST" action="/searchForm">
    <label for="searname">Name:</label>
    <input type="text" id="searname" name="searname" />

    <button type="submit">zoek één brand</button>
</form>


<div>
    <span>
        <%= naam.name %>
    </span>
    <span>
        <%= naam.type %>
    </span>
    <span>
        <%= naam.price %>
    </span>

</div>